


<%= form_with url:'/flights', class:'border-form', local:true do |f| %>


<%= f.number_field :flight_number, required:true, placeholder:"flight #"%>


<%= f.text_field :origin, required:true, placeholder:"from"%>


<%= f.text_field :destination, required:true, placeholder:"to"%>


<%= f.date_field :departure_date, required:true, placeholder:"date"%>


<select name="airplane_id">
    <option value="" disabled selected>--Please choose an Airplane--</option>

    <%= @airplanes.each do |airplane| %>

    <option value=<%= airplane.id %>>
        <%= airplane.name %>
    </option>
    <% end %>


</select>
<br><br>

<%= f.submit 'Create New Flight'%>

<% end %>