

<h2 class="red-title">Angel Airlines: Flight <%= @flight.flight_number %></h2>

<%= render partial: 'r_form' %>

<div class="col-title">
    <p>Name</p>
    <p>Row</p>
    <p>Column</p>
    <p></p>
</div>

<ul class="table">
    <% @reservations.each do |reservation| %>

    <li>
        <p><%= reservation.user.name %></p>
        
        <p><%= reservation.row %></p>
        <p><%= @alphaArr[reservation.col-1] %></p>
        <p><%= link_to 'Delete', "/reservations/#{reservation.id}",method:'delete' %></p>
        
    </li>

    <% end %>
</ul>

<div class="container">

    
  <% (@col+1).times do |col|%>
    <% if col === (@col / 2 + 1) %>
      <br>
    <% end %>
    <% (@row+1).times do |row|%>

        <% if col === 0 && row === 0 %>
          <div class="cell indicator"></div>
        <% elsif col === 0 %>
          <div class="cell indicator"><%= row %></div>
        <% elsif row === 0 %>
          <div class="cell indicator"><%= @alphaArr[col-1] %></div>
        <% elsif @bookedArr.include?([row,col]) %>
          <div class="cell filled"> </div>
        <% else %>
          <div class="cell"></div>
        <% end %>
    <% end %>
    <br>
  <% end %>

</div>
