
<h3>All Flights</h3>

<h4>New Flight</h4>
<%= render partial: 'form' %>

<ul>
    <% @flights.each do |flight| %>

    <li>
        Flight: <%= flight.flight_number %>
        <br>
        Date: <%= flight.departure_date %>
        <br>
        From > To: <%= flight.origin %> > <%= flight.destination %>
        <br>
        Airplane: <%= flight.airplane.name %>
        <br>
        Seats: <%= flight.airplane.seating_row * flight.airplane.seating_column %>
        <br>
        <%= link_to 'Delete', "/flights/#{flight.id}",method:'delete' %>
        <br><br>
    </li>

    <% end %>
</ul>
