
<h2 class="red-title">Angel Airlines</h2>

<%= render partial: 'form' %>

   

<h3 class="sub-title">Flights</h3>

<div class="col-title">
    <p>Date</p>
    <p>Flight</p>
    <p>From > To</p>
    <p>Plane</p>
    <p>Seats</p>
    <p></p>
</div>


<ul class="table">
    <% @flights.each do |flight| %>

    <li>
        <p><%= flight.departure_date %></p>

        
        <p><%= link_to flight.flight_number, "/flights/#{flight.id}" %></p>

        <p><%= flight.origin %> > <%= flight.destination %></p>
        <p><%= flight.airplane.name %></p>
        <p><%= flight.airplane.seating_row * flight.airplane.seating_column %></p>
        
        
        <p><%= link_to 'Delete', "/flights/#{flight.id}",method:'delete' %></p>
        
        <br>
    </li>

    <% end %>
</ul>


