
<h2 class="red-title">Angel Airlines</h2>

<%= render partial: 'form' %>

<h3 class="sub-title">Airlines</h3>
<div class="col-title">
    <p>Name</p>
    <p>Row</p>
    <p>Column</p>
    <p>Seats</p>
    <p></p>
</div>

<ul class="table">
    <% @airplanes.each do |airplane| %>

    <li>
        <p><%= airplane.name %></p>
        <p><%= airplane.seating_row %></p>
        <p><%= airplane.seating_column %></p>
        <p><%= airplane.seating_column * airplane.seating_row  %></p>
        <p><%= link_to 'Delete', "/airplanes/#{airplane.id}",method:'delete' %></p>
        
    </li>

    <% end %>
</ul>