
<h2 class="red-title">Angel Airlines</h2>

<%= render partial: 'form' %>

<h3 class="sub-title">All Reservations</h3>
<div class="col-title">
    <p>Name</p>
    <p>Flight #</p>
    <p>Row</p>
    <p>Column</p>
    <p></p>
</div>

<ul class="table">
    <% @reservations.each do |reservation| %>

    <li>
        <p><%= reservation.user.name %></p>
      
        <p><%= link_to reservation.flight.flight_number, "/flights/#{reservation.flight.id}" %></p>
        
        <p><%= reservation.row %></p>
        <p><%= reservation.col %></p>
        <p><%= link_to 'Delete', "/reservations/#{reservation.id}",method:'delete' %></p>
        
    </li>

    <% end %>
</ul>